#thewindow {
    border: 2px solid red;
    height: 150px;
    overflow: hidden;
    position: relative;
    width: 180px;
}

#thetext {
    left: 5px;
    position: absolute;
    top: 100px;
    width: 170px;
}
